h1 {
    margin: 20px 0;
}
h1,
h2,
h3 {
    font-size: 60px;
}

h4 {
    font-size: 20px;
}
h1 span,
h2 {
    color: #7AD1E5;
}

h2 span {
    font-weight: 600;
}

input {
    padding:10px;
    width: 100%;
    max-width: 300px;
    border-radius: 4px;
    box-shadow: none;
    border: 1px solid black;
}

.continue {
    margin-top: 20px;
}

img {
    width: 100%; 
    height: auto;
}


.iconfinder {
    max-width: 25px;
}

h4 {
    margin-top: 20px;
}

/* layout */

.container {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}


/* Home */


/* Interior */


.interior .border {
    border: solid 1px black;
    padding: 20px;
}

.progress-color {
    background-color: #7AD1E5;
    width:0;
    -webkit-transition: width 2s; /* Safari prior 6.1 */
    transition: width 2s;
}

.group-two,
.group-three,
.group-four {
    display: none;
}



footer {
    height: 120px;
    display: flex;
    align-items: center;
    padding: 20px;
    background-color: #000;
    color: #fff;
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer a {
    color: #fff;
    text-decoration: none;
}

footer a:first-child {
    margin-right: 5px;
}

footer a:last-child {
    margin-left: 5px;
}

footer a:hover {
    text-decoration: underline;
}

footer,
footer a {
    font-size: 20px;
}